[Unit]
Description=VoteChain V3 - Kiosk Terminal
After=network.target votechain.service
Requires=votechain.service

[Service]
Type=simple
User=cainepi
WorkingDirectory=/home/cainepi/Desktop/FInal Year Project/blockchain-voting-dapp-v3
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 kiosk_main.py
Restart=always
RestartSec=15
StandardOutput=append:/home/cainepi/votechain-kiosk.log
StandardError=append:/home/cainepi/votechain-kiosk.log

[Install]
WantedBy=multi-user.target
