[Unit]
Description=VoteChain V3 - Blockchain Voting System
After=network.target

[Service]
Type=simple
User=cainepi
Environment="NODE_ENV=production"
WorkingDirectory=/home/cainepi/Desktop/FInal Year Project/blockchain-voting-dapp-v3/backend
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=10
StandardOutput=append:/home/cainepi/votechain-backend.log
StandardError=append:/home/cainepi/votechain-backend.log

[Install]
WantedBy=multi-user.target
